.card-portfolio__section {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  
  @include tablet {
    flex-direction: row;
  }
}
.card-portfolio__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 0;
  
  @include tablet {
    flex-direction: row;
  }
}
.card-portfolio__container div {
  display:flex; 
}

.card-portfolio {
      padding: 0;
    border-radius: 0;
    border: none;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: start;  

  &:before {
    @include ombre('left', 3deg, 5px);
  }
  &:after {
    @include ombre('right', 3deg, 10px);
  }
  
  &__image {
    height: 230px;
    overflow: hidden;
    
    img {
      width: 100%;
      height: auto;
      opacity: 0.5;
      transition: opacity .3s linear, transform 1s ease-in;
    }
  }
  &:hover {
    img {
      opacity: 1;
      transform: scale(1.1) rotate(-2deg);
    }
    
    .card-portfolio__btn {
      
      display: flex;
    align-content: right;
    justify-content: center;
    align-self: flex-end;
    margin-right: 10px;
      
      
      &:hover {
        background-color: saturate($green, 30);
        color: $white;
      }
    }
  }
  &__text {
    display: flex;
    flex-grow: 2;
  }
  &__btn {
    background-color: transparent;
    color: $green;
    width: 100px;
    border: none;
    border-radius: 0;
    transition: all .3s linear;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-self: flex-end;
  }
}
















