.footer {
  background-color: $light-green-20;
  color: darken($green, 20%);
  padding: 1em 0;
  
  .footer-social {
    overflow: auto;
    padding: 0;
    width: 100%;
    
    &__line {
      width: 20%;
      float: left;
      padding: 0;
      
      a {
        color: inherit;
        display: block;
        text-align: right;
        
        svg {
          fill: $white;
          fill: darken($green, 10%);
          &:hover {
            fill: darken($green, 30%);
          }
        }
      }
    }

  }
}